/* Header Styles */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #121212;
  position: relative;
}

.header-logo {
  width: 300px;
  height: auto;
}

.user-icon {
  position: absolute;
  top: 0;
  right: 5px;
  width: 50px;
  height: 50px;
}

/* User List View Styles */
.user-list-view {
  padding-top: 120px;
  color: white;
  background-color: #000000;
  padding: 50px;
}

/* Search Bar Styles */
.search-bar {
  position: relative;
  margin-bottom: 20px;
}

.search-bar input {
  width: calc(100% - 40px);
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  background-color: #333;
  color: white;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
}

/* Employee Card Styles */
.employee-card {
  background-color: #222;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

.employee-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.employee-info p {
  margin: 5px 0;
  margin-bottom: 30px;
}

.employee-number {
  background-color: #191a19;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Navigation Styles */
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: transparent linear-gradient(262deg, #0f2323 0%, #0f2323 100%) no-repeat padding-box;
  box-shadow: inset 8px 4px 4px #00000040;
  border: 1px solid #0f2323;
  padding: 10px 20px;
  position: sticky;
  bottom: 0;
  z-index: 100;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav li {
  margin: 0 10px;
}

.nav-icon {
  width: 30px;
  height: 30px;
  opacity: 0.5;
  display: block;
}

.title {
  display: flex;
  opacity: 0;
  color: #cc6c12;
}

.nav-container {
  padding-top: 0;
  margin-top: 20px;
}

.nav-container p {
  margin: 0;
}

/* Employee Details Styles */
.employee-dob,
.employee-role {
  margin: 0;
  margin-bottom: 10px;
}

.employee-dob {
  color: #cc6c12;
  margin-bottom: 10px;
}

.employee-role {
  color: #36a546cc;
  margin-bottom: 10px;
}

.employee-dob-line {
  margin-bottom: 30px;
}

/* Media Queries */
@media only screen and (max-width: 412px) and (max-height: 914px) {
  .dashboard-container {
    padding: 10px;
  }
}

@media only screen and (max-width: 390px) and (max-height: 834px) {
  .dashboard-container {
    padding: 8px;
  }
}
